/* Comment Css 

h1 {
  color: blue;
}

Colors:
-> Predefined
-> RGB
-> RGBA
-> HEX
-> HSL
-> HSLA

*/

#bg {
  background-image: url('https://media.istockphoto.com/photos/abstract-chaotic-background-picture-id629677830?k=6&m=629677830&s=612x612&w=0&h=IcoccHuckoa1WVs9_UiRjvfm4y3rX4vtbZ7-AvOWErQ=');

  background-repeat: no-repeat;

  /* background-position: 50px 100px; */

  background-size: contain;
  
  /* Multi images->  background-image: url(''),url(''); */
  /* Multi position->  background-position: top left,bottom right; */

  /* background-attachment: fixed; */
}