.grid-container{
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: auto 200px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-content: center;
}

.grid-item{
  background-color: wheat;
  border: 1px solid black;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}