@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

h1 {
  font-weight: lighter;
}

p {
  /* font-size: 28px; */
  /* font-weight: bold; */
  /* font-style: italic; */
  /* font-variant: small-caps; */

  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;

}